/**
 * Module: Complex Management
 * File: complex.css
 * Description: Định dạng giao diện cho trang danh sách và trang nhập liệu cơ sở.
 *
 * Author: Dương Hải Anh
 * Version: 1.0
 * Created date: 04/06/2026
 */
.complex-form-wrapper {
    min-height: 100vh;
    padding: 40px 20px;
    background: #f8f9fa;
    display: flex;
    justify-content: center;
}

.complex-form-card {
    max-width: 700px;
    border: none;
    border-radius: 16px;
}

.complex-form-card .card-body {
    padding: 32px;
}

.form-label {
    font-weight: 500;
}

#formTitle {
    color: rgb(32, 147, 74);
    font-weight: 700;
}

.back-btn {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 12px;

    background: #ffffff;
    color: rgb(32, 147, 74);

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    transition: all .2s ease;
}

.back-btn:hover {
    background: rgb(32, 147, 74);
    color: white;
    transform: translateX(-2px);
}

.back-btn i {
    font-size: 1.1rem;
}

.btn-primary {
    background: rgb(32, 147, 74);
    border-color: rgb(32, 147, 74);
}

.btn-primary:hover {
    background: rgb(26, 120, 60);
    border-color: rgb(26, 120, 60);
}

#preview {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto;
}

.upload-btn {
    display: flex;
    padding: 10px 18px;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: dashed 0.5px black;
    gap: 5px;
}

.upload-btn:hover {
    background: #ededed;
}

.image-item {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.menu-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-popup {
    position: absolute;
    top: 8px;
    right: 8px;
    min-width: 180px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
    display: none;
    padding: 10px 0;
    z-index: 999;
}

.menu-popup.show {
    display: block;
}

.menu-popup button {
    width: 100%;
    display: flex;
    align-items: start;
    border: none;
    background-color: white;
    padding: 5px 7px;
    gap: 5px;
}

.menu-popup button:hover{
    background-color: #ededed;
}

.hidden{
    display: none;
}
.thumbnail-box{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 6px;
    left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid rgb(32, 147, 74);
    border-radius: 8px;
}

.badge-soft-secondary{
    color: #797979;
}

#complex-data-container{
    background-color: white;
    border-radius: 8px;
}