/**
 * Module: Owner System Management
 * File: styles.css
 * Description: Định dạng giao diện chung cho các trang nghiệp vụ thuộc hệ thống quản lý của Owner.
 *
 * Author: Dương Hải Anh
 * Version: 1.1
 * Created date: 01/06/2026
 * Updated date: 04/06/2026
 * Update Notes: Bổ sung các thuộc tính CSS dùng chung để tối ưu hóa giao diện.
 */
.data-container{
    background-color: white;
    border-radius: 15px;
}
th,
td {
    position: relative;
}

th:not(:last-child)::after,
td:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 20%;
    right: 0;
    width: 1px;
    height: 60%;
    background-color: #dee2e6;
}
.badge-soft-primary {
    color: #6c757d;
    background: #e9ecef;
}